services:
  database:
    image: mariadb:latest
    environment:
      MARIADB_ROOT_PASSWORD: "redhat"
      MYSQL_DATABASE: "studentapp"
    volumes:
      - "my-vol123:/var/lib/mysql"
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    environment:
      DB_NAME: "studentapp"
      DB_USER: "root"
      DB_PASSWORD: "redhat"
      DB_HOST: "database"
    depends_on:
      database:
        condition: service_healthy
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    environment:
      PUBLIC_IP: "13.126.228.87"
    depends_on:
      - backend

volumes:
  my-vol123: {}



